*{
    margin: 0%;
    padding: 0%;

}

body{
    text-align: center;
    background-image: url("survey.jpg");
    padding-top: 150px;
    margin-left: 3%;
    color: black
}
#say{
    width: 55%;
    height: 50px;
    padding: 10px;
}

